<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="../static/stylesheet/style.css">
</head>

<body ng-app="app" ng-cloak>
    <div ng-controller="ctrl" ng-cloak>
        <h2>Tweet sentiment analysis</h2>
        <form name="projectForm" style="margin-top: 30px;">
            <div>
                <md-input-container class="md-block">
                    <label>Query</label>
                    <input required ng-model="search.query" name="query">
                    <div ng-messages="projectForm.query.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            Please enter query
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Count</label>
                    <input required type="number" step="any" name="count" ng-model="search.count" min="1" max="200" />

                    <div ng-messages="projectForm.count.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            Please enter number of tweets
                        </div>

                        <div ng-message="min">
                            The minimum number of count is 1
                        </div>

                        <div ng-message="max">
                            The maximum number of count is 200
                        </div>
                    </div>
                </md-input-container>
                <md-button class="md-raised" ng-click="get_tweets()"
                    ng-disabled="projectForm.query.$invalid || projectForm.count.$invalid">Submit</md-button>
                <md-divider></md-divider>
            </div>
        </form>

        <div>
            <div flex-gt-sm="50" flex ng-if="tweets.length > 0">
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>Tweets</span>
                    </div>
                </md-toolbar>
                <md-content>
                    <md-list flex>
                        <md-list-item ng-class="item.sentiment == 1 ? 'positive' : item.sentiment == 0 ? 'neutral' : 'negative'" ng-repeat="item in tweets" ng-click="null">
                            <div class="md-list-item-text" layout="column">
                                <h3>{[{item.text}]}</h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <script src="../static/scripts/script.js"></script>

</body>

</html>